# Gradle
build/
.gradle/

# IDEA
out/
.idea/
*.iml
/secring.gpg
/local.properties
/sample/local.properties
/sample/android/local.properties
/version.txt
/kotlin-js-store/
/krang-test/kotlin-js-store/
