name: Deploy

on:
  workflow_call:
    inputs:
      VERSION_SUFFIX:
        description: 'Optional version suffix to be attached to the artefact'
        type: string
        default: ''
        required: false
    secrets:
      SIGNING_KEY:
        description: 'Exported ascii armoured key'
        required: true
      SIGNING_PASSWORD:
        description: 'Key password'
        required: true
      REPOSITORY_USERNAME:
        description: 'OSS username'
        required: true
      REPOSITORY_PASSWORD:
        description: 'OSS password'
        required: true

jobs:
  verify:
    name: Verify gradle plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - verify
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 8
      - uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: false
      - run: ./gradlew publish --no-daemon --no-parallel
        env:
          VERSION_SUFFIX: ${{ inputs.VERSION_SUFFIX }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.REPOSITORY_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.REPOSITORY_PASSWORD }}